<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryMapper">
	
	<resultMap type="Category" id="categoryResultMap">
		<id column="CATEGORY_ID" property="CATEGORY_ID"/>
		<result column="CATEGORY_NAME" property="CATEGORY_NAME"/>
		<result column="CATEGORY_ORDER" property="CATEGORY_ORDER"/>
	</resultMap>
	
	<!-- Field -->
	<sql id="Field">
		CATEGORY_ID,
		CATEGORY_NAME,
		PARENT_ID,
		CATEGORY_ORDER
	</sql>
	
	<!-- Field value -->
	<sql id="FieldValue">
		#{CATEGORY_ID},
		#{CATEGORY_NAME},
		#{PARENT_ID},
		#{CATEGORY_ORDER}
	</sql>
	
	<!--Table Name -->
	<sql id="tableName">
		SYS_category
	</sql>
	
	<!-- List Categories under this group -->
	<select id="listAllCategoriesByPId" resultMap="categoryResultMap">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
			PARENT_ID = #{CATEGORY_ID}
		ORDER BY CATEGORY_ORDER
	</select>
	
	<!--List of categories-->
	<!--   <select id="categorylistPage" parameterType="page" resultType="pd" >
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
			PARENT_ID = #{CATEGORY_ID}
		
		[fhstart]ORDER BY CATEGORY_ORDER desc[fhend]
	</select>  
 -->	
	<!-- find category by ID -->
	<select id="findObjectById" parameterType="pd" resultType="pd">
		select  
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where CATEGORY_ID = #{CATEGORY_ID}
	</select>
	
	
	
	<!-- find category by CATEGORY_ORDER -->
	<select id="getCategoryByCategory_order" parameterType="pd" resultType="pd">
		select  
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where CATEGORY_ORDER = #{CATEGORY_ORDER}
	</select>
	
	<!-- find category by CATEGORY_Name -->
	<select id="getCategoryByCategory_Name" parameterType="pd" resultType="pd">
		select  
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where CATEGORY_NAME = #{CATEGORY_NAME}
	</select>
	
	<!-- Create Category -->
	<insert id="insert" parameterType="pd">
		insert into 
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>	
		)
	</insert>
	
	<!-- Update Category -->
	<update id="edit" parameterType="pd">
		update 
		<include refid="tableName"></include>
		set CATEGORY_NAME = #{CATEGORY_NAME}
		where CATEGORY_ID = #{CATEGORY_ID}
	</update>
	
	<!-- Delete Category  -->
	<delete id="deleteCategoryById" parameterType="String">
		delete from 
		<include refid="tableName"></include>
		where CATEGORY_ID=#{CATEGORY_ID}
	</delete>
	
	
	<!-- Find by ID -->
	<select id="getCategoryById" parameterType="String" resultMap="categoryResultMap">
		select * from 
		<include refid="tableName"></include>
		where CATEGORY_ID=#{CATEGORY_ID}
	</select>


	<!-- Gets the list of categories by an array of category ids -->
	<select id="listAllCategoriesByArryCATEGORY_ID" parameterType="String" resultType="Category" >
		select
			CATEGORY_ORDER
		from
			<include refid="tableName"></include>
		where 
			CATEGORY_ID in
  			 <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                  #{item}
             </foreach>
	</select>
	
	<!-- List of category (for Popup Selection) -->
	<select id="categoryWindowlistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.CATEGORY_ID != null and pd.CATEGORY_ID != ''">
			and PARENT_ID = #{pd.CATEGORY_ID} 
		</if>
		[fhstart]ORDER BY CATEGORY_ORDER[fhend]
	</select>
	
	<!-- 获取总数 -->
	<select id="getMaxCategory" parameterType="String" resultType="pd">
		select 
			 MAX(CATEGORY_ORDER)
		from 
		<include refid="tableName"></include>
		where PARENT_ID = #{CATEGORY_ID}
	</select>
	
	<!-- ANAGRACE TECH(青苔) -->
</mapper>